main {
  grid-area: main;
  background-color: var(--prim_background);
  border-radius: 0.3em;
  overflow-y: auto;
}

.main_header {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background: rgb(14, 143, 14);
  background: linear-gradient(180deg, rgba(14, 143, 14, 1) 0%, rgba(22, 22, 22, 1) 100%);
  padding: 1em;
}

.main_header h2 {
  color: #ffffff;
  font-size: 2em;
}

.main_header_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5em;
}

.main_items_container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.main_items_container h2 {
  color: #ffffff;
  font-size: 1.5em;
}

.main_items {
  display: flex;
  justify-content: space-between;
}

main::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 20px;
}

main::-webkit-scrollbar-thumb {
  background-color: var(--font_color);
}