.playlist_container {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background: rgb(14, 143, 14);
    background: linear-gradient(180deg, rgba(14, 143, 14, 1) 0%, rgba(22, 22, 22, 1) 47%);
    border-radius: 0.3em;
    overflow-y: auto;
}

.playlist_header {
    padding: 1em;
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.playlist_header_info {
    display: flex;
    gap: 1em;
}

.playlist_header_info img {
    width: 200px;
    border-radius: 0.3em;
}

.playlist_header_subinfo h3 {
    font-size: 0.9em;
    font-weight: 400;
}

.playlist_header_subinfo h1 {
    font-size: 3em;
}

.playlist_header_subinfo {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 0.5em;
    color: #ffffff;
}

.songs_container {
    background-color: #00000033;
    padding: 1em;
}


.playlist_container::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 20px;
}

.playlist_container::-webkit-scrollbar-thumb {
    background-color: var(--font_color);
}